**/.vs/
Light Souls/.vs/
Light Souls/obj/Debug/net8.0/Light Souls.AssemblyInfo.cs
Light Souls/obj/Debug/net8.0/Light Souls.AssemblyInfo.cs
Light Souls/obj/Debug/net8.0/Light Souls.AssemblyInfoInputs.cache
Light Souls/obj/Debug/net8.0/Light Souls.assets.cache
Light Souls/obj/Debug/net8.0/Light Souls.csproj.AssemblyReference.cache
Light Souls/obj/Debug/net8.0/Light Souls.GeneratedMSBuildEditorConfig.editorconfig
Light Souls/obj/Light Souls.csproj.nuget.dgspec.json
Light Souls/obj/Light Souls.csproj.nuget.g.props
Light Souls/obj/project.assets.json
Light Souls/obj/project.nuget.cache
Light Souls/obj/Release/net8.0/Light Souls.AssemblyInfo.cs
Light Souls/obj/Release/net8.0/Light Souls.AssemblyInfoInputs.cache
Light Souls/obj/Release/net8.0/Light Souls.assets.cache
Light Souls/obj/Release/net8.0/Light Souls.csproj.AssemblyReference.cache
Light Souls/obj/Release/net8.0/Light Souls.GeneratedMSBuildEditorConfig.editorconfig
